{{#each article_notes}}
<div class="note_card alert alert-primary" role="alert">
    <h6>{{note_title}}</h6>
    <p class="mb-0">
        <strong>{{note_summary}}</strong> <i class="delete_note fa fa-trash
            float-right
            mb-2" aria-hidden="true" note_id={{_id}}
            article_id={{article}}></i></p>
</div>
{{/each}}
