<div class="container bg-dark my-1 py-0">
    <div class="jumbotron py-0">
        <h1 class="display-3 text-center text-primary">Get The News</h1>   
        <hr> 
        <h3 class="text-right mb-0">Today's Date: <span id= "currentDate" class="text-primary"></span></h3>   
    </div>
</div>
