<div class="container my-1 py-0">
    <div class="jumbotron py-0">

        <div class="text-center">
            <a name = "home_btn" id="home_title" class="btn display-4" href= "/" role="button">The
                News</button></a>
        </div>
        <hr>

        <div class="dropdown display-inline">
            <a name="saved_articles" class="saved_articles btn btn-primary mr-2"
                href="/saved" role="button">Saved Articles</a>
            <button type="button" id="scrap_articles" class="btn btn-primary
                mr-2" disabled >Load New Articles</button>
        </div>
        {{!-- show current date --}}
        <h6 class="text-right mb-0">Date: <span id="currentDate"
                class="text-primary"></span></h6>
    </div>
    {{!-- list of scrapped articles --}}
    <div id="body">
        <div class="loadnews">
            {{> loadnews}}
        </div>
    </div>
</div>
