<div class="container my-1 py-0">
    <div class="jumbotron py-0">

        <div class="text-center">
            <a name="home_btn" id="home_title" class="btn display-4" href="/"
                role="button">The
                News</button></a>
        </div>
        <hr>
        <div class="dropdown display-inline">
            <a name="saved_articles" class="home_page btn btn-info mr-2"
                href="/" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go to Home</a>
        </div>
        {{!-- show current date --}}
        <h6 class="text-right mb-0">Date: <span id="currentDate"
                class="text-primary"></span></h6>
    </div>
    {{!-- list of scrapped articles --}}
    <div id="body">
        <div class="savedNews">
            {{> saved_articles}}
        </div>
    </div>    
</div>

{{!-- note Model --}}
<div>
    {{> notes_for_saved_articles}}
</div>
