.notes_model {
    background-image: url("https://wallpaperplay.com/walls/full/0/9/f/145594.jpg");
}

.delete_note:hover {
    transform: scale(1.5);
}

.note_card:hover, .article_item:hover {
    transform: scale(1.03);
    box-shadow: 0 0 px rgb(250, 231, 166);
}

/* .saved_article {
    display: none;
} */

.article_img {
    width: 200px;
    height: 150px;
}

.card-body {
    background-color: rgb(244, 219, 183);
}

#home_title {
    font-size: 72px;
    color: rgb(238, 140, 54);
}

.jumbotron {
    background-image: url("http://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9");
}